* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --primary-color: #fef5ef;
  --second-color: #b19361;
  --footer-color: #24262b;
  --text-color: #24262b;
  --text-description: #777777;
}

html {
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  color: #24262b;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
  outline: none;
}

.bold {
  font-weight: 700;
}

.container-wide {
  padding: 0 105px;
  margin: auto;
}

.container {
  max-width: 1440px;
}

@media (max-width: 991px) {
  .container-wide {
    padding: 0 35px;
  }

  .container {
    padding: 0 100px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }

  .container-wide {
    padding: 0 15px;
  }
}
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  transition: 0.2s;
}

.mobile-nav, .cart-bar, .wishlist {
  max-width: 400px;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 100%;
  top: 0;
  background: var(--footer-color);
  padding: 20px;
  transition: 0.5s;
  z-index: 1;
}
.mobile-nav a, .cart-bar a, .wishlist a {
  color: #ffffff;
}

.close {
  text-align: right;
}
.close i {
  color: #fff;
  font-size: 3rem;
}

.mobile-nav__contact {
  text-align: center;
  color: #fff;
}
.mobile-nav__contact img {
  width: 100px;
}
.mobile-nav__contact p {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.mobile-nav__contact-logo {
  margin: 30px 0;
  display: block;
}

.mobile-nav__contact-social {
  display: flex;
  justify-content: center;
  margin: 20px 0 30px;
}
.mobile-nav__contact-social a {
  font-size: 1.8rem;
  color: #ffffff;
  background: #2f3239;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  transition: 0.4s;
}
.mobile-nav__contact-social a:hover {
  color: #2f3239;
  background: #fff;
}

.mobile-nav__pages a {
  font-size: 1.5rem;
  margin-right: 15px;
  transition: 0.4s;
}
.mobile-nav__pages a:hover {
  color: var(--second-color);
}

@media (max-width: 575px) {
  .mobile-nav, .cart-bar, .wishlist {
    max-width: 300px;
  }
}
.cart-bar, .wishlist {
  left: calc(100%);
  background: #fff;
}
.cart-bar .close, .wishlist .close {
  text-align: right;
}
.cart-bar .close i, .wishlist .close i {
  color: #000;
  font-size: 3rem;
}

.cart-bar__title, .wishlist__title {
  font-weight: 400;
  font-size: 2.2rem;
  margin: 35px 0;
}

.cart-bar__product-list, .wishlist__product-list {
  list-style: none;
  padding: 0;
}

.cart-bar__product, .wishlist__product {
  display: flex;
  margin-bottom: 20px;
}

.cart-bar__product-link, .wishlist__product-link {
  width: 90px;
  border: 1px solid #ededed;
  margin-right: 20px;
}
.cart-bar__product-link img, .wishlist__product-link img {
  width: 100%;
}

.cart-bar__product-info, .wishlist__product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-bar__product-name a, .wishlist__product-name a {
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 700;
  opacity: 0.7;
  transition: 0.2s;
}
.cart-bar__product-name a:hover, .wishlist__product-name a:hover {
  opacity: 1;
}

.cart-bar__product-numbers, .wishlist__product-numbers {
  font-size: 1.4rem;
  opacity: 0.7;
}

.cart-bar__product-del, .wishlist__product-del {
  color: red;
  font-size: 1.6rem;
  align-self: center;
}

.cart-bar__total-price {
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
  margin-top: 35px;
}

.cart-bar__total-price-text {
  font-weight: 700;
  font-size: 2rem;
}

.cart-bar__total-price-value {
  font-size: 2rem;
}

.cart-bar__btn, .wishlist__btn {
  display: block;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  border: 1px solid var(--second-color);
  border-radius: 4px;
  font-weight: 600;
  transition: 0.2s;
  border-radius: 4px;
  overflow: hidden;
}
.cart-bar__btn a, .wishlist__btn a {
  display: block;
  background: var(--second-color);
  padding: 6px 12px;
  transition: 0.3s;
}

.cart-bar__btn:hover a, .wishlist__btn:hover a {
  background: #ffffff;
  color: var(--second-color);
}

.cart-bar__view-cart {
  margin: 35px 0 20px;
}

.wishlist__view-wishlist {
  margin-top: 30px;
}

.modal-search {
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-search .close {
  position: absolute;
  top: 30px;
  right: 25px;
}

.modal-search__input {
  width: 80%;
  text-align: center;
}
.modal-search__input input {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  color: #777777;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  transition: 0.4s;
}
.modal-search__input input:focus {
  border-bottom: 2px solid var(--second-color);
  outline: none;
  color: #ffffff;
  font-weight: 300;
}
.modal-search__input button {
  padding: 15px 33px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid var(--second-color);
  border-radius: 4px;
  background: var(--second-color);
  transition: 0.4s;
  cursor: pointer;
  margin-top: 30px;
}
.modal-search__input button:hover {
  background: transparent;
  color: var(--second-color);
}

.slick-slide {
  outline: none;
}

.slick-arrow {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 50px;
  border: 1px solid #000;
  transition: 0.4s;
}
.slick-arrow i {
  font-size: 2rem;
}

.slick-arrow:hover {
  background: var(--second-color);
  border: 1px solid var(--second-color);
  cursor: pointer;
}
.slick-arrow:hover i {
  color: #ffffff;
}

.slick-arrow:focus {
  outline: none;
}

.prev-btn {
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}

.next-btn {
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}

.slick-dots {
  position: absolute;
  bottom: 20px;
}

.slick-dots li button:before {
  font-size: 2rem;
  color: #ffffff;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: var(--second-color);
}

.product-img {
  display: block;
  padding-top: 115%;
  position: relative;
  overflow: hidden;
}
.product-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.product-img__on-hover {
  visibility: hidden;
  transition: 0.4s;
  opacity: 0;
}

.product-img__bar {
  position: absolute;
  background: #000;
  width: 100%;
  top: 100%;
  color: #ffffff;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  transition: 0.5s ease;
}

.add-to-cart {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.2s;
  cursor: pointer;
}

.add-to-cart:hover {
  color: var(--second-color);
}

.product-img__btn {
  font-size: 1.8rem;
}
.product-img__btn span {
  margin-right: 15px;
  transition: 0.2s;
  cursor: pointer;
}
.product-img__btn span:hover {
  color: var(--second-color);
}

.shuffle {
  margin-right: 0 !important;
}

.sale-tag {
  position: absolute;
  font-size: 1.4rem;
  padding: 0 10px;
  top: 20px;
  left: 20px;
  background: var(--second-color);
  color: #ffffff;
  display: none;
}

.sale-product .sale-tag {
  display: block;
}

.product:hover .product-img__on-hover {
  visibility: visible;
  opacity: 1;
}
.product:hover .product-img__bar {
  transform: translateY(-100%);
}

.product__content {
  padding-top: 25px;
}

.product-name {
  text-transform: uppercase;
  font-weight: 700;
}

.product-name__link {
  color: var(--text-color);
  transition: 0.4s;
}

.product-name__link:hover {
  color: var(--second-color);
}

.product__content-rate-price {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.product__content-rate {
  font-size: 1.2rem;
}
.product__content-rate i {
  margin-right: 0.2rem;
  color: var(--second-color);
}

.product__content-price {
  font-size: 1.4rem;
  color: var(--text-description);
}

.product__content-price-old {
  text-decoration: line-through;
  margin-right: 5px;
}