* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --primary-color: #fef5ef;
  --second-color: #b19361;
  --footer-color: #24262b;
  --text-color: #24262b;
  --text-description: #777777;
}

html {
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  color: #24262b;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
  outline: none;
}

.bold {
  font-weight: 700;
}

.fixed {
  position: fixed;
  display: block;
}

.paragraph {
  font-size: 1.4rem;
  color: var(--text-description);
  line-height: 2.4rem;
}

.container-wide {
  padding: 0 105px;
  margin: auto;
}

.container {
  max-width: 1440px;
}

@media (max-width: 991px) {
  .container-wide {
    padding: 0 35px;
  }

  .container {
    padding: 0 100px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }

  .container-wide {
    padding: 0 15px;
  }
}

// ================ snippet ===================
@mixin centerItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin resetList {
  list-style: none;
  padding: 0;
}

// =====================================

// Modal
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  transition: 01s;
}

// Menu mobile ------------

.mobile-nav {
  max-width: 400px;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 100%;
  top: 0;
  background: var(--footer-color);
  padding: 20px;
  transition: 0.5s;
  z-index: 1;

  a {
    color: #ffffff;
  }
}

.close {
  text-align: right;
  width: 100%;
  margin-bottom: 30px;

  i {
    color: #fff;
    font-size: 3rem;
  }
}

.mobile-nav__contact {
  text-align: center;
  color: #fff;

  img {
    width: 100px;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
  }
}

.mobile-nav__contact-logo {
  margin: 30px 0;
  display: block;
}

.mobile-nav__contact-social {
  display: flex;
  justify-content: center;
  margin: 20px 0 30px;

  a {
    font-size: 1.8rem;
    color: #ffffff;
    background: #2f3239;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    @include centerItem();
    margin-right: 20px;
    transition: 0.4s;
  }

  a:hover {
    color: #2f3239;
    background: #fff;
  }
}

.mobile-nav__pages {
  a {
    font-size: 1.5rem;
    margin-right: 15px;
    transition: 0.4s;
  }

  a:hover {
    color: var(--second-color);
  }
}

.mobile-navlist {
  @include resetList();

  i {
    display: inline-block;
    margin-left: auto;
  }
}

.mobile-navlist__item {
  color: #ffffff;

  a {
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 5px 0;
    display: block;
    cursor: pointer;
  }
}

.mobile-navlist__has-child {
  > .mobile-subnav {
    display: none;
    padding: 0 10px;
  }

}

.mobile-navlist__has-child-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 5px 0;
  cursor: pointer;
}

.mobile-subnav {
  @include resetList();
}

.mobile-subnav__item {
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 5px 0;
}

.mobile-subnav__has-child {

  .mobile-subnav {
    display: none;
    padding: 0 10px;
  }
}

.mobile-subnav__has-child-title {
  display: flex;
  justify-content: space-between;
  padding: 0 0 5px;
  cursor: pointer;
}



// responesive mobile nav
@media (max-width: 575px) {
  .mobile-nav {
    max-width: 300px;
  }
}

// end ------------------

// Giỏ hàng ----------------

.cart-bar {
  @extend .mobile-nav;
  left: calc(100%);
  background: #fff;

  .close {
    text-align: right;

    i {
      color: #000;
      font-size: 3rem;
    }
  }
}

.cart-bar__title {
  font-weight: 400;
  font-size: 2.2rem;
  margin: 35px 0;
}

.cart-bar__product-list {
  @include resetList();
}

.cart-bar__product {
  display: flex;
  margin-bottom: 20px;
}

.cart-bar__product-link {
  width: 90px;
  border: 1px solid#ededed;
  margin-right: 20px;

  img {
    width: 100%;
  }
}

.cart-bar__product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-bar__product-name {
  a {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 700;
    opacity: 0.7;
    transition: 0.2s;
  }

  a:hover {
    opacity: 1;
  }
}

.cart-bar__product-numbers {
  font-size: 1.4rem;
  opacity: 0.7;
}

.cart-bar__product-del {
  color: red;
  font-size: 1.6rem;
  align-self: center;
}

.cart-bar__total-price {
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
  margin-top: 35px;
}

.cart-bar__total-price-text {
  font-weight: 700;
  font-size: 2rem;
}

.cart-bar__total-price-value {
  font-size: 2rem;
}

.cart-bar__btn {
  display: block;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  border: 1px solid var(--second-color);
  border-radius: 4px;
  font-weight: 600;
  transition: 0.2s;
  border-radius: 4px;
  overflow: hidden;

  a {
    display: block;
    background: var(--second-color);
    padding: 6px 12px;
    transition: 0.3s;
  }
}

.cart-bar__btn:hover a {
  background: #ffffff;
  color: var(--second-color);
}

.cart-bar__view-cart {
  margin: 35px 0 20px;
}
// end---------------------

// wishlist ----------------
.wishlist {
  @extend .cart-bar;
}

.wishlist__title {
  @extend .cart-bar__title;
}

.wishlist__product-list {
  @extend .cart-bar__product-list;
}

.wishlist__product {
  @extend .cart-bar__product;
}

.wishlist__product-link {
  @extend .cart-bar__product-link;
}

.wishlist__product-info {
  @extend .cart-bar__product-info;
}

.wishlist__product-name {
  @extend .cart-bar__product-name;
}

.wishlist__product-numbers {
  @extend .cart-bar__product-numbers;
}

.wishlist__product-del {
  @extend .cart-bar__product-del;
}

.wishlist__btn {
  @extend .cart-bar__btn;
}

.wishlist__view-wishlist {
  margin-top: 30px;
}

// end ------------------------

// search modal
.modal-search {
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  @include centerItem();

  .close {
    position: absolute;
    top: 30px;
    right: 25px;
  }
}

.modal-search__input {
  width: 80%;
  text-align: center;

  input {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    color: #777777;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    transition: 00.4s;
  }

  input:focus {
    border-bottom: 2px solid var(--second-color);
    outline: none;
    color: #ffffff;
    font-weight: 300;
  }

  button {
    padding: 15px 33px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid var(--second-color);
    border-radius: 4px;
    background: var(--second-color);
    transition: 0.4s;
    cursor: pointer;
    margin-top: 30px;
  }

  button:hover {
    background: transparent;
    color: var(--second-color);
  }
}

// end -------------

// slick style ---------
.slick-slide {
  outline: none;
}

.slick-arrow {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 50px;
  border: 1px solid #000;
  transition: 00.4s;

  i {
    font-size: 2rem;
  }
}

.slick-arrow:hover {
  background: var(--second-color);
  border: 1px solid var(--second-color);
  cursor: pointer;

  i {
    color: #ffffff;
  }
}

.slick-arrow:focus {
  outline: none;
}

.prev-btn {
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}

.next-btn {
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}

.slick-dots {
  position: absolute;
  bottom: 20px;
}

.slick-dots li button:before {
  font-size: 2rem;
  color: #ffffff;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: var(--second-color);
}

// end -------

// product cell

.product-img {
  display: block;
  padding-top: 115%;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.product-img__on-hover {
  visibility: hidden;
  transition: 00.4s;
  opacity: 0;
}

.product-img__bar {
  position: absolute;
  background: #000;
  width: 100%;
  top: 100%;
  color: #ffffff;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  transition: 00.5s ease;
}

.add-to-cart {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 00.2s;
  cursor: pointer;
}

.add-to-cart:hover {
  color: var(--second-color);
}

.product-img__btn {
  font-size: 1.8rem;

  span {
    margin-right: 15px;
    transition: 00.2s;
    cursor: pointer;
  }

  span:hover {
    color: var(--second-color);
  }
}


.shuffle {
  margin-right: 0 !important;
}

.sale-tag {
  position: absolute;
  font-size: 1.4rem;
  padding: 0 10px;
  top: 20px;
  left: 20px;
  background: var(--second-color);
  color: #ffffff;
  display: none;
}

.sale-product .sale-tag {
  display: block;
}

.product:hover {
  .product-img__on-hover {
    visibility: visible;
    opacity: 1;
  }

  .product-img__bar {
    transform: translateY(-100%);
  }
}

.product__content {
  padding-top: 25px;
}

.product-name {
  text-transform: uppercase;
  font-weight: 700;
}

.product-name__link {
  color: var(--text-color);
  transition: 0.4s;
}

.product-name__link:hover {
  color: var(--second-color);
}

.product__content-rate-price {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.product__content-rate {
  font-size: 1.2rem;

  i {
    margin-right: 0.2rem;
    color: var(--second-color);
  }
}

.product__content-price {
  font-size: 1.4rem;
  color: var(--text-description);
}

.product__content-price-old {
  text-decoration: line-through;
  margin-right: 5px;
}

// end

// breadcrumb section
.breadcrumb-section {
  padding: 120px 0;
  margin-bottom: 100px;
  background: var(--primary-color);
}

.breadcrumb-section__content {
  text-align: center;
}

.breadcrumb-section__heading {
  font-size: 4.2rem;
  text-transform: uppercase;
}

.breadcrumb {
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  background: transparent;
  color: #777777;

  i {
    margin: 0 15px;
  }
}

.breadcrumb__link {
  color: var(--text-color);
  transition: 0.4s;
}

.breadcrumb__link:hover {
  color: var(--second-color);
}

// end---------

// back to top btn
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 56px;
  height: 56px;
  @include centerItem();
  font-size: 1.4rem;
  border-radius: 50px;
  background: var(--second-color);
  color: #ffffff;
  outline: none;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  transition: 00.2s;
}

.back-to-top:hover {
  color: #ffffff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5), 0 3px 15px rgba(0, 0, 0, 0.5);
}
