.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  background: var(--primary-color);
}

.header-logo {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-logo img {
  width: 100px;
}

.header-nav {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header-nav__item {
  position: relative;
}

.header-nav__link {
  padding: 25px 30px;
  line-height: 3rem;
  display: block;
  color: var(--text-color);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.4rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.header-nav__link:hover {
  color: var(--second-color);
}

.header-buttons {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-buttons i {
  font-size: 2.2rem;
}

.header-buttons__icon {
  margin-right: 30px;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-buttons__icon:hover {
  color: var(--second-color);
}

.header-buttons__icon:last-child {
  margin-right: 0;
}

.header-buttons__number {
  position: absolute;
  background: var(--second-color);
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  font-size: 11px;
  color: #fff;
  font-weight: 700;
  top: 35%;
  left: 70%;
}

.header-buttons__menu-mobile {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f8eeeb;
  border-radius: 50px;
}

.header-buttons__menu-mobile:hover {
  background: #fff;
}

.header-nav__subnav {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  position: absolute;
  min-width: 230px;
  padding: 25px 20px;
  background: #fff;
  -webkit-box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  top: 85%;
  visibility: hidden;
  opacity: 0;
}

.header-nav__item:hover .header-nav__subnav {
  top: 100%;
  visibility: visible;
  opacity: 1;
}

.header-nav__subnav-list a {
  font-size: 1.4rem;
  color: var(--text-color);
  display: block;
  padding: 6px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-nav__subnav-list a:hover {
  color: var(--second-color);
  padding-left: 8px;
}

.header-nav__mega-item:hover .header-nav__mega-nav {
  top: 100%;
  visibility: visible;
  opacity: 1;
}

.header-nav__mega-nav {
  position: absolute;
  min-width: 100%;
  left: 0;
  top: 85%;
  padding: 25px 30px 30px;
  -webkit-box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #fff;
  visibility: hidden;
  opacity: 0;
}

.header-nav__mega-nav img {
  width: 100%;
}

.header-nav__mega-nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.header-nav__mega-nav-list {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.header-nav__mega-nav-title a {
  color: var(--text-color);
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-nav__mega-nav-title a:hover {
  color: var(--second-color);
}
/*# sourceMappingURL=main.css.map */